/* 改变 icon 字体路径变量，必需 */
/* 改变主题色变量 */
$--color-primary: #409EFF;

// Animation
$--animation-time:.3s;
$--animation-time-quick:.15s;
$--transition-time:.2s;
$--ease-in-out :ease-in-out;
@import "common/var.scss";
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index.scss";
$--css-prefix :'kem-';
@import "./tree.scss";
